body{
  background-color: black;
}

section{
  position: absolute;
  width: 350px;
  box-shadow: 0px 0px 22px 1px rgba(154,161,230,0.3);
}

div{
  display: flex;
}

p{
  color: azure;
  font-size: xxx-large;
}